body {
    background-color: #0d1117;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    font-family:Roboto,arial,sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th {
	padding: 0.75rem;
    padding-top: 3rem;
    vertical-align: middle;
    font-size: 2rem;
    color:#fafbfc
}

td.footer {
	font-size: .75rem;
	padding: 0.75rem;
	color: #70757a;
}

td.footer a{
	color:#70757a;
	text-decoration: none;
}

td.footer a:hover{
	text-decoration: underline;
}

.search-input-section { 
    border: 2px solid #70757a;
    width: 80%;
    max-width: 600px;
    background-color: transparent;
    border-radius: 9px; 
    padding: 5px 10px; 
    height: 32px;
    color: #fafbfc;
    outline: none
}

.search-input-section:focus { 
    border-color: #4078c0;
}