<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AP CSA Archive</title>
		<link href="/static/style.css" rel="stylesheet">
		<script src="/static/script.js"></script>
	</head>
    <body onload="getDate()">
	<div class="container">
        <form id="searchForm" autocomplete="off" action="https://www.google.com/search" method="get">
				<table>
					<thead>
						<tr>
							<th>
								<img height="50px" src="static/ap.png" alt="AP Logo">&nbsp;Computer Science A
							</th>
						</tr>
					</thead>
					<tbody>
					<tr>
						<td>
							<input name="q" class="search-input-section" id="txtSearch" type="text" placeholder="Search Collegeboard.org">
							<input type="hidden" name="q" value="site:apcentral.collegeboard.org/media &quot;computer-science-a&quot;">
						</td>
					</tr>
					<tr>
						<td class="footer">
							<a href="https://apcentral.collegeboard.org">Visit Collegeboard.org</a>
							&nbsp;|&nbsp;
							<img height="14px" src="static/leaf.png">&nbsp;&nbsp;Carbon neutral since 2023
							&nbsp;|&nbsp;
							<span id="date"></span>
						</td>
					</tr>
					</tbody>
				</table>
        </form>
	</div>
    </body>
</html>
